<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatic.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.mapper.noticeMapper">

    <select id = "notice" resultType = "hashmap">

        SELECT
            bid
           , name
           , title
           , content
           , date_format(rdate,'%Y-%m-%d') as rdate
           , hit
           , important
        FROM notice

    </select>

</mapper>