<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "HTTP://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <setting name="cacheEnabled" value="false" />
        <setting name="useGeneratedKeys" value="true" />
        <setting name="defaultExecutorType" value="REUSE" />
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <!-- Model 내 @Alias 사용 시, 추가 -->
    <!--<typeAliases>
        <package name="com.sdi.models.simulation"/>
    </typeAliases>-->
    <!-- Model 내 @Alias 사용 시, 추가 -->

</configuration>